* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app, #root, .contenedor {
    width: 100%;
    height: 100dvh;
}

.contenedor {
    
}


/* ftr-PIE: footer PRESUPUESTO/INGRESO/EGRESO = NO OLVIDAR */