/* Usuario y button tiene font-size: 12px; */

header {
    width: 100dvw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "ttl-App ttl-App"
    "btn-Menu usuario";
    align-items: center;

    padding: 8px 15px;
    gap: 5px;
    background-color: #232529;
    color: white;
}

header .ttl-App { grid-area: ttl-App; }
header .btn-Menu { grid-area: btn-Menu; }
header .usuario { grid-area: usuario; }

header button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    color: white;
}

header button > .material-symbols-outlined {
    color: white;
    cursor: pointer;
}

.ttl-App {
    font-size: clamp(1.25rem, 3vw, 5rem);
    justify-self: center;
}

.btn-Menu {
    gap: 8px;
    justify-self: flex-start;
}

.usuario {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.usuario .notificaciones {
    padding: 0px 8px 0px 0px;
    border-right: 1px solid white;
}