/* ==========================================================================
   HEADER
   ==========================================================================
   • [>] CAPAS:
        • HEADER
        • NOTIFICACIONES - USUARIO
        • MEDIA'S
   ========================================================================== */

header {
    width: 100%;
    max-height: 120px;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "ttl-App ttl-App"
    "btn-Menu usuario";

    overflow: hidden;
    background-color: #232529;
    box-shadow: 10px 10px 22px var(--shadow-dark);

    padding: 8px 14px;
    gap: 8px;
}

header .ttl-App { grid-area: ttl-App; }
header #btn-Menu { grid-area: btn-Menu; }
header .usuario { grid-area: usuario; }


header, 
header button {
    color: white;
    font-size: var(--text-Normal);
}

header .material-symbols-outlined {
    font-size: var(--icon-Normal);
}

header .ttl-App {
    align-self: center;
    justify-self: center;
}

header #btn-Menu {
    align-self: center;
    justify-self: flex-start;
    display: flex;
    align-items: center;
}

header .usuario {
    align-self: center;
    justify-self: flex-end;
    display: flex;
}

/* ==========================================================================
   NOTIFICACIONES - USUARIO 
   ========================================================================== */

.usuario .divider {
    background-color: var(--border-color); /*border-Items*/
    height: 20px;
    width: 1px;
    margin: auto 14px;
}

.usuario .datos-Usuario {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.datos-Usuario > span {
    text-align: start;
}


/* ==========================================================================
   MEDIA'S
   ========================================================================== */

@container body-first (min-width: 768px) and (max-width: 1023px){
    .usuario .datos-Usuario {
        margin-left: 6px;
    }

    .usuario .divider {
        height: 25px;
        margin: auto 16px;
    }
}

@container body-first (min-width: 1024px){
    header {
        display: flex;
        justify-content: space-between;
        padding: 12px 34px;
    }

    header .ttl-App { grid-area: ttl-App; }
    header #btn-Menu { grid-area: btn-Menu; }
    header .usuario { grid-area: usuario; }

    .usuario .datos-Usuario {
        margin-left: 8px;
    }

    .usuario .divider {
        height: 30px;
        margin: auto 18px;
    }
}