header {
    width: 100dvw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "ttl-App ttl-App"
    "btn-Menu usuario";
    align-items: center;

    padding: 8px 15px;
    gap: 5px;
    background-color: #232529;
    color: white;
}

header .ttl-App { grid-area: ttl-App; }
header .btn-Menu { grid-area: btn-Menu; }
header .usuario { grid-area: usuario; }

header button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    color: white;
}

header button > .material-symbols-outlined {
    color: white;
    cursor: pointer;
}

.ttl-App {
    font-size: clamp(1.25rem, 3vw, 2rem);
    justify-self: center;
}

.btn-Menu {
    gap: 8px;
    justify-self: flex-start;
}

.usuario {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.usuario .notificaciones {
    padding: 0px 8px 0px 0px;
    border-right: 1px solid white;
}

@media (min-width: 768px) and (max-width: 1023px){
    .usuario, header button {
        font-size: 14px;
    }

    .ttl-App {
        font-size: 1.75rem;
    }

    .usuario {
        margin-right: 15px;
    }
}

@media (min-width: 1023px){
    header {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas:
        "btn-Menu ttl-App usuario";
    }

    .usuario, header button {
        font-size: 16px;
    }

    .usuario {
        margin-right: 15px;
    }

    .ttl-App {
        font-size: 2rem;
    }
}